body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.app-name {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.app-logo {
  width: 150px; /* Adjust the width as needed */
  height: auto;
  display: block;
  margin: 0 auto;
  padding-bottom: 20px; /* Add some spacing below the logo */
}

.room-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.room-input {
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  margin-right: 1rem;
}

.create-room-btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 15px;
}

.join-room-btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 15px;
}

/* Styles for screens smaller than 600px (e.g. smartphones) */
@media screen and (max-width: 600px) {
  .app {
    padding: 10px;
  }

  .app-logo {
    width: 100%;
    height: auto;
  }

  .app-name {
    font-size: 2rem;
  }

  .room-input-container {
    flex-direction: column;
  }

  .room-input {
    width: 100%;
    margin-bottom: 10px;
  }

  .join-room-btn,
  .create-room-btn {
    width: 100%;
    margin-bottom: 10px;
  }
}
